{
  Filter = {
    Bundles = (
      "com.apple.camera",          /* Camera */
      "com.apple.facetime",        /* FaceTime (optional) */
      "com.burbn.instagram",       /* Instagram */
      "com.toyopagroup.picaboo",   /* Snapchat */
      "com.facebook.Facebook",     /* Facebook */
      "com.zhiliaoapp.musically"   /* TikTok */
    );
  };
}
